[#include "../public/header.inc.htm"]
<div class="main-container">
	<ol class="breadcrumb crumb-navigate">
		<li class="glyphicon glyphicon-home"><a class="margin-left5" href="${_webUrl_}">主页</a></li>
		[#list columnParentList![] as item]
		<li><a href="${item.url!""}">${item.name!""}</a></li>
		[/#list]
		<li class="active">${info.name!""}</li>
	</ol>
	<div class="column-container">
		<div class="column-container-left">
			[#list columnChildrenList![] as item]
			<div class="panel panel-default margin-bottom5">
				<div class="panel-heading"><a href="${item.url!""}">${item.name!""}</a></div>
				<div class="panel-body">${item.description!""}</div>
			</div>
			[/#list]
			[#if articleMap.total > 0]
			<div class="panel panel-default margin-bottom0">
				<div class="panel-body">
					[#list articleMap.rows![] as item]
					<div class="media column-list-item">
						[#if !empty(item.logo)]
						<a class="media-left" target="_blank" href="${item.web_url!""}" title="${item.title!""}"><img class="media-object" src="[#if empty(item.logo)]${defaultArticleLogo!""}[#else]${item.logo!""}[/#if]"></a>
						[/#if]
						<div class="media-body">
							<h4 class="media-heading item-title">
								<span class="left"><a class="media-left" target="_blank" href="${item.web_url!""}" title="${item.title!""}">${item.title!""}</a></span>
								<span class="right"> - ${millisToDateTime(item.publish_time, "yyyy-MM-dd")}</span>
							</h4>
							${item.description!""}
						</div>
					</div>
					[/#list]
					[#if articleMap.total > articleMap.pageSize]
					<nav class="pagination-panel-default">
						<ul class="pagination margin-bottom0">
							<li><a href="#">首页</a></li>
							<li><a href="#">上一页</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">下一页</a></li>
							<li><a href="#">尾页</a></li>
						</ul>
					</nav>
					[/#if]
				</div>
			</div>
			[/#if]
		</div>
		<div class="column-container-right">
			<ul class="list-group">
				<li class="list-group-item disabled">推荐栏目</li>
				[#list columnSiblingList![] as item]
				<li class="list-group-item text-ellipsis"><a href="${item.url!""}" title="${item.description!""}">${item.name!""} - ${item.description!""}</a></li>
				[/#list]
			</ul>
		</div>
	</div>
</div>
[#include "../public/footer.inc.htm"]