[#include "../public/header.inc.htm"]
<div class="main-container">
	<ol class="breadcrumb crumb-navigate">
		<li class="glyphicon glyphicon-home"><a class="margin-left5" href="${_webUrl_}">主页</a></li>
		[#list columnParentList![] as item]
		<li><a href="${item.url!""}">${item.name!""}</a></li>
		[/#list]
		<li class="active">${info.name!""}</li>
	</ol>
	<div class="column-container">
		<div class="column-container-left">
			[#list columnChildrenList![] as item]
			<div class="panel panel-default margin-bottom5">
				<div class="panel-heading"><a href="${item.url!""}">${item.name!""}</a></div>
				<div class="panel-body">${item.description!""}</div>
			</div>
			[/#list]
		</div>
		<div class="column-container-right">
			<ul class="list-group">
				<li class="list-group-item disabled">推荐栏目</li>
				[#list columnSiblingList![] as item]
				<li class="list-group-item text-ellipsis"><a href="${item.url!""}" title="${item.description!""}">${item.name!""} - ${item.description!""}</a></li>
				[/#list]
			</ul>
		</div>
	</div>
</div>
[#include "../public/footer.inc.htm"]