[#include "../public/header.inc.htm"]
<div class="main-container">
	<div class="article-row-focus">
		<div id="focus">
			<div class="hd">
				<div class="focus-title" id="focus-title"></div>
			</div>
			<div class="focus-bar-box" id="focus-bar-box">
				<ul class="focus-bar">
					[#list (label.slideshow)![] as slideshow]
					<li><a class="item" target="_blank" href="${slideshow.url!""}" title="${slideshow.title!""}" data-short="${slideshow.short_title!""}"><img src="${slideshow.image!""}" /></a></li>
					[/#list]
				</ul>
			</div>
			<a href="javascript:void(0);" class="btn-prev" id="focus-prev"></a>
			<a href="javascript:void(0);" class="btn-next" id="focus-next"></a>
			<div class="ft">
				<div class="ftbg"></div>
				<div id="focus-num" class="change"></div>
			</div>
		</div>
		<div class="article-panel-news panel panel-default margin-bottom0">
			<div class="panel-heading">${label.newsTitle!""}</div>
			<div class="panel-body article-list">
			[#list label.newsList![] as item]
			<ul>
				<li class="width-percent100">
					<span class="float-left width290 text-ellipsis"><a target="_blank" href="${item.url!""}" title="${item.title!""}">${item.short_title!""}</a></span>
					<span class="float-right">[${millisToDateTime(item.publish_time, "yyyy-MM-dd")}]</span>
				</li>
			</ul>
			[/#list]
			</div>
		</div>
	</div>
	<div class="article-row-three margin-top5 clear-float">
		<div class="column-item float-left margin-right11">
			<div class="panel panel-default margin-bottom0">
				<div class="bs-callout bs-callout-info"><h5>${label.programTitle!""}</h5></div>
				<div class="panel-body article-list">
					<ul>
					[#list label.programList![] as item]
						<li class="width-percent100 text-ellipsis"><a target="_blank" href="${item.url!""}" title="${item.title!""}">${item.short_title!""}</a></li>
					[/#list]
					</ul>
				</div>
			</div>
		</div>
		<div class="column-item float-left">
			<div class="panel panel-default margin-bottom0">
				<div class="bs-callout bs-callout-info"><h5>${label.operateTitle!""}</h5></div>
				<div class="panel-body article-list">
					<ul>
					[#list label.operateList![] as item]
						<li class="width-percent100 text-ellipsis"><a target="_blank" href="${item.url!""}" title="${item.title!""}">${item.short_title!""}</a></li>
					[/#list]
					</ul>
				</div>
			</div>
		</div>
		<div class="column-item float-right">
			<div class="panel panel-default margin-bottom0">
				<div class="bs-callout bs-callout-info"><h5>${label.testTitle!""}</h5></div>
				<div class="panel-body article-list">
					<ul>
					[#list label.testList![] as item]
						<li class="width-percent100 text-ellipsis"><a target="_blank" href="${item.url!""}" title="${item.title!""}">${item.short_title!""}</a></li>
					[/#list]
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="article-row-two margin-top5 clear-float">
		<div class="left float-left margin-right11">
			<div class="panel panel-default margin-bottom0">
				<div class="bs-callout bs-callout-info"><h5>${label.projectTitle!""}</h5></div>
				<div class="panel-body article-list">
					<ul>
					[#list label.projectList![] as item]
						<li class="width-percent100 text-ellipsis"><a target="_blank" href="${item.url!""}" title="${item.title!""}">${item.short_title!""}</a></li>
					[/#list]
					</ul>
				</div>
			</div>
		</div>
		<div class="right float-left">
			<div class="panel panel-default margin-bottom0">
				<div class="bs-callout bs-callout-info"><h5>${label.architectureTitle!""}</h5></div>
				<div class="panel-body article-list">
					<ul>
					[#list label.architectureList![] as item]
						<li class="width-percent100 text-ellipsis"><a target="_blank" href="${item.url!""}" title="${item.title!""}">${item.short_title!""}</a></li>
					[/#list]
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="${_webUrl_}/api/jQuery/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
$(function(){
	/* 首页幻灯 */
	$('#focus-bar-box').find('.item').each(function () {
		var tileHtml = '<a target="' + $(this).attr('target') + '" href="' + $(this).attr('href')
				+ '" title="' + $(this).attr('title') + '">' + $(this).data('short') + '</a>';
		$('#focus-title').append(tileHtml);
		var numHtml = '<a class=""></a>';
		$('#focus-num').append(numHtml);
	});
	$('#focus').hover(function () {
		$('#focus-prev, #focus-next').show();
	}, function () {
		$('#focus-prev, #focus-next').hide();
	});
	$('#focus').slide({ 
		mainCell : '#focus-bar-box ul',
		targetCell : '#focus-title a',
		titCell : '#focus-num a',
		prevCell : '#focus-prev',
		nextCell : '#focus-next',
		effect : 'left',
		easing : 'easeInOutCirc',
		autoPlay : true,
		delayTime : 200
	});
});
</script>
[#include "../public/footer.inc.htm"]