<!DOCTYPE html>
[#include "../../base/public/common.inc.htm"]
[#include "../../base/public/resource.inc.htm"]
<script type="text/javascript" src="${_WEB_URL_}/api/KindEditor/kindeditor.custom.all.min.js"></script>
<form id="submitForm" method="post" action="${_BASE_.url("save")}">
<input type="hidden" name="id" value="${info.id!0}" />
<table cellspacing="1" cellpadding="0" class="table-line td-left td-break-word">
	<tr>
		<th>栏目</th>
		<td><input name="columnId" class="js-select-type width300" value="${info.columnId!0}" /></td>
	</tr>
	<tr>
		<th class="width130">标题</th>
		<td><input class="easyui-textbox width300" type="text" name="title" data-options="required:true" value="${(info.title)!""}" /></td>
	</tr>
	<tr>
		<th>链接地址</th>
		<td><textarea name="url" class="easyui-textbox width300" data-options="multiline:true,height:80">${info.url!""}</textarea></td>
	</tr>
	<tr>
		<th>关键词</th>
		<td><input class="easyui-textbox width300" type="text" name="keywords" value="${(info.keywords)!""}" /></td>
	</tr>
	<tr>
		<th>页面描述</th>
		<td><textarea name="description" class="easyui-textbox width300" data-options="multiline:true,height:80">${info.description!""}</textarea></td>
	</tr>
	<tr>
		<th>来源</th>
		<td><input class="easyui-textbox width300" type="text" name="fromName" value="${(info.fromName)!""}" /></td>
	</tr>
	<tr>
		<th>来源地址</th>
		<td><textarea name="fromUrl" class="easyui-textbox width300" data-options="multiline:true,height:80">${info.fromUrl!""}</textarea></td>
	</tr>
	<tr>
		<th>启用评论</th>
		<td><input class="input-checkbox" type="checkbox" name="commentEnable" value="1"[#if !empty(info.commentEnable)] checked="checked"[/#if] />启用评论，用户可以进行评论操作</td>
	</tr>
	<tr>
		<th>允许评论</th>
		<td><input class="input-checkbox" type="checkbox" name="commentAllow" value="1"[#if !empty(info.commentAllow)] checked="checked"[/#if] />允许用户发表评论</td>
	</tr>
	<tr>
		<th>是否置顶</th>
		<td><input class="input-checkbox" type="checkbox" name="isTop" value="1"[#if !empty(info.isTop)] checked="checked"[/#if] />将该文章至于本栏目顶部</td>
	</tr>
	<tr>
		<th>排序</th>
		<td><input class="easyui-numberspinner width150" type="text" name="sort" data-options="required:true,min:0" value="${(info.sort)!0}" /></td>
	</tr>
	<tr>
		<th>状态</th>
		<td>
			<select class="easyui-combobox" name="status" data-options="required:true,editable:false">
				[@getMapOption map=statusMap default=info.status!"" tips="请选择记录状态" /]
			</select>
		</td>
	</tr>
	<tr>
		<th>发布时间</th>
		<td><input class="easyui-datetimebox width150" type="text" name="publishTime" value="${millisToDateTime(info.publishTime)}" /></td>
	</tr>
	<tr>
		<th>缩略图</th>
		<td>
			<div class="width213 border-solid-gray"><a href="${fullUrl}" target="_blank" title="点击查看大图"><img src="${fullUrl}" class="img js-image-show" width="213px" height="160px" /></a></div>
			<div class="align-center width213 padding2"><a href="javascript:void(0);" class="easyui-linkbutton js-swf-upload-button" data-options="iconCls:'icon-upload',plain:'true'"><span id="js-swf-upload"></span></a></div>
		</td>
	</tr>
	<tr>
		<th>地址</th>
		<td><textarea name="logo" class="easyui-textbox js-image-url width300" data-options="multiline:true,height:80">${info.logo!""}</textarea></td>
	</tr>
	<tr>
		<th>内容</th>
		<td><textarea name="content" class="w668h280">${(info.content)!""}</textarea></td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
			<a id="buttonCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">重置</a>
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true">返回</a>
		</td>
	</tr>
</table>
</form>
[#include "../../base/upload/swfUpload.htm"]
<script type="text/javascript">
$(function () {
	swfUploadSettings.post_params['dir'] = 'image';
	swfUploadSettings.upload_success_handler = function (file, serverData) {
		isSWFUploading = false;
		try {
			var data = $.parseJSON(serverData);
			if(0 == data.error) {
				$('.js-image-url').textbox('setValue', data.uri).trigger('change');
			} else {
				Web_alertInfo(data.message);
			}
		} catch (ex) {
			Web_alertInfo('上传失败！');
		}
	};
	new SWFUpload(swfUploadSettings);

	$('.js-image-url').bind('change', function () {
		var url = Web_fullUrl($(this).textbox('getValue'));
		$('.js-image-show').attr('src', url);
		$('.js-image-show').parent().attr('href', url);
	});

	$('input[name="columnId"]').combotree({
		url : '${_BASE_.url("column", "list")}',
		loadFilter : function (data, parent) {
			return Web_formatComboTree(data.rows, [], '请选择所属栏目', 'name', null, null, function (value, row, index) {
				return value + ((row.role_column_power && 1 != row.role_column_power.publish_enable) ? ' - 无权限' : '');
			});
		}
	});
	var editor = KindEditor.create('textarea[name="content"]');
	var $submitForm = $('#submitForm');
	$submitForm.form({
		success : function (data) {
			data = Web_parseMessage(data);
			if(0 != data.status) {
				Web_alertInfo(data.message);
			} else {
				Web_confirm('操作成功，是否继续编辑', function (result) {
					if(!result) Web_redirectPage('${_BASE_.url("layout")}');
				});
			}
		}
	});
	$('#buttonOk').bind('click', function () {
		$('textarea[name="content"]').html(editor.html());
		if($submitForm.form('validate')) $submitForm.form('submit');
	});
	$('#buttonCancel').bind('click', function () {
		$submitForm.form('reset');
	});
});
</script>