<!DOCTYPE html>
[#include "../../base/public/common.inc.htm"]
[#include "../../base/public/resource.inc.htm"]
<table cellspacing="1" cellpadding="0" class="table-line td-left td-break-word">
	<tr>
		<th class="width130">名称</th>
		<td>${(info.name)!""}</td>
	</tr>
	<tr>
		<th class="width130">展示效果</th>
		<td>${(info.effect_text)!""}</td>
	</tr>
	<tr>
		<th class="width130">截取宽度</th>
		<td><input class="easyui-numberspinner width80 js-input-space" type="text" data-options="required:true,min:0" value="0" /><a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-tip',plain:true">默认不截取</a></td>
	</tr>
	<tr>
		<th>补充后缀</th>
		<td><input class="easyui-textbox width150 js-input-suffix" type="text" value="" /></td>
	</tr>
	<tr>
		<th class="width130">信息列表</th>
		<td class="td-clear height400">
			<div class="easyui-layout" data-options="fit:true,border:true,plain:true">
				<div data-options="region:'south',split:true,plain:true" class="height200">
					<table class="td-break-word full-w-h">
						<tr>
							<td rowspan="3" align="center" class="width213">
								<a href="javascript:void(0);" target="_blank" title="点击查看大图"><img src="${_WEB_URL_}/skin/images/nopic_article.jpg" class="img js-image-show" width="213px" height="160px" /></a>
							</td>
							<th>标题名称</th>
							<td><input class="easyui-textbox width300 js-input-title" type="text" value="" /></td>
						</tr>
						<tr>
							<th class="width130">图片地址</th>
							<td><textarea class="easyui-textbox width300 js-image-url" data-options="multiline:true,height:60"></textarea></td>
						</tr>
						<tr>
							<th>链接地址</th>
							<td><textarea class="easyui-textbox width300 js-input-url" data-options="multiline:true,height:60"></textarea></td>
						</tr>
						<tr>
							<td><div class="align-center"><a href="javascript:void(0);" class="easyui-linkbutton js-swf-upload-button" data-options="iconCls:'icon-upload',plain:'true'"><span id="js-swf-upload"></span></a></div></td>
							<th>列表操作</th>
							<td>
								<a href="javascript:void(0);" class="easyui-linkbutton js-control-add" data-options="iconCls:'icon-add'">添加</a>
								<a href="javascript:void(0);" class="easyui-linkbutton js-control-save" data-options="iconCls:'icon-edit'">修改</a>
								<a href="javascript:void(0);" class="easyui-linkbutton js-control-delete" data-options="iconCls:'icon-remove'">删除</a>
								<a href="javascript:void(0);" class="easyui-linkbutton js-control-up" data-options="iconCls:'icon-arrow-up'">上移</a>
								<a href="javascript:void(0);" class="easyui-linkbutton js-control-down" data-options="iconCls:'icon-arrow-down'">下移</a>
							</td>
						</tr>
					</table>
				</div>
				<div data-options="region:'center',split:true,plain:true">
					<table class="js-slideshow-list"></table>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">保存</a>
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true">返回</a>
		</td>
	</tr>
</table>
[#include "../../base/upload/swfUpload.htm"]
<script type="text/javascript">
$(function () {
	swfUploadSettings.post_params['dir'] = 'image';
	swfUploadSettings.upload_success_handler = function (file, serverData) {
		isSWFUploading = false;
		try {
			var data = $.parseJSON(serverData);
			if(0 == data.error) {
				$('.js-image-url').textbox('setValue', data.uri).trigger('change');
			} else {
				Web_alertInfo(data.message);
			}
		} catch (ex) {
			Web_alertInfo('上传失败！');
		}
	};
	new SWFUpload(swfUploadSettings);

	$('.js-image-url').bind('change', function () {
		var url = Web_fullUrl($(this).textbox('getValue'));
		$('.js-image-show').attr('src', url);
		$('.js-image-show').parent().attr('href', url);
	});
	
	function setData(data) {
		$('.js-input-title').textbox('setValue', data.title);
		$('.js-image-url').textbox('setValue', data.image);
		$('.js-image-url').trigger('change');
		$('.js-input-url').textbox('setValue', data.url);
	}
	
	function getData() {
		return {
			title : $.trim($('.js-input-title').textbox('getValue')),
			image : $.trim($('.js-image-url').textbox('getValue')),
			url : $.trim($('.js-input-url').textbox('getValue')),
		};
	}
	var $slideshowList = $('.js-slideshow-list');
	var selectIndex = -1;
	$slideshowList.datagrid({
		rownumbers : true,
		fit : true,
		fitcolumns : true,
		singleSelect : true,
		columns : [[
			{field:'title',title:'标题名称'},
			{field:'image',title:'图片地址'},
			{field:'url',title:'链接地址'}
		]],
		onSelect : function (rowIndex, rowData) {
			selectIndex = rowIndex;
			setData(rowData);
		}
	});
	try {
		var data = $.parseJSON('${info.content!""}');
		if(data && data.rows && data.rows['0']) {
			$('.js-input-space').numberspinner('setValue', data.space);
			$('.js-input-suffix').textbox('setValue', data.suffix);
			var rows = [];
			for (var key in data.rows) {
				rows.push(data.rows[key]);
			}
			$slideshowList.datagrid('loadData', rows);	
		}
	} catch (e) {
		Web_alertInfo('无法解析当前数据');
	}
	$('.js-control-add').bind('click', function () {
		$slideshowList.datagrid('appendRow', getData());
		$slideshowList.datagrid('autoSizeColumn');
	});
	$('.js-control-save').bind('click', function () {
		if(-1 == selectIndex) return false;
		$slideshowList.datagrid('updateRow', {
			index : selectIndex,
			row : getData()
		});
		$slideshowList.datagrid('autoSizeColumn');
	});
	$('.js-control-delete').bind('click', function () {
		if(-1 == selectIndex) return false;
		$slideshowList.datagrid('deleteRow', selectIndex);
		selectIndex = -1;
		$slideshowList.datagrid('autoSizeColumn');
	});
	$('.js-control-up').bind('click', function () {
		if(selectIndex < 1) return false;
		var upIndex = selectIndex - 1;
		var rows = $slideshowList.datagrid('getRows');
		var tempRow = rows[upIndex];
		rows[upIndex] = rows[selectIndex];
		rows[selectIndex] = tempRow;
		$slideshowList.datagrid('loadData', rows);
		selectIndex = upIndex;
	});
	$('.js-control-down').bind('click', function () {
		var rows = $slideshowList.datagrid('getRows');
		if(-1 == selectIndex || selectIndex + 1 >= rows.length) return false;
		var downIndex = selectIndex + 1;
		var tempRow = rows[downIndex];
		rows[downIndex] = rows[selectIndex];
		rows[selectIndex] = tempRow;
		$slideshowList.datagrid('loadData', rows);
		selectIndex = downIndex;
	});
	
	$('#buttonOk').bind('click', function () {
		var content = {
			space : $.trim($('.js-input-space').numberspinner('getValue')),
			suffix : $.trim($('.js-input-suffix').textbox('getValue')),
			rows : $slideshowList.datagrid('getRows')
		};
		$.post('${_BASE_.url("saveEffect")}', {
			id : '${info.id}',
			content : content
		}, function (data) {
			data = Web_parseMessage(data);
			if(0 != data.status) {
				Web_alertInfo(data.message);
			} else {
				Web_confirm('操作成功，是否继续编辑', function (result) {
					if(!result) Web_redirectPage('${_BASE_.url("layout")}');
				});
			}
		});
	});
});
</script>