<!DOCTYPE html>
[#include "../../base/public/common.inc.htm"]
[#include "../../base/public/resource.inc.htm"]
<table cellspacing="1" cellpadding="0" class="table-line td-left td-break-word">
	<tr>
		<th class="width130">名称</th>
		<td>${(info.name)!""}</td>
	</tr>
	<tr>
		<th class="width130">展示效果</th>
		<td>${(info.effect_text)!""}</td>
	</tr>
	<tr>
		<th class="width130">HTML</th>
		<td><textarea name="content" class="easyui-textbox js-input-content" data-options="multiline:true,width:600,height:380">${(info.content)!""}</textarea></td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">保存</a>
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true">返回</a>
		</td>
	</tr>
</table>
<script type="text/javascript">
$(function () {
	$('#buttonOk').bind('click', function () {
		var content = $('.js-input-content').textbox('getValue');
		$.post('${_base_.url("saveEffect")}', {
			id : '${info.id}',
			content : content
		}, function (data) {
			data = Web_parseMessage(data);
			if(0 != data.status) {
				Web_alertInfo(data.message);
			} else {
				Web_confirm('操作成功，是否继续编辑', function (result) {
					if(!result) Web_redirectPage('${_base_.url("layout")}');
				});
			}
		});
	});
});
</script>