<!DOCTYPE html>
[#include "../../base/public/common.inc.htm"]
[#include "../../base/public/resource.inc.htm"]
<form id="submitForm" method="post" action="${_BASE_.url("save")}">
<table cellspacing="1" cellpadding="0" class="table-line td-left td-break-word">
	<tr>
		<th>路径</th>
		<td>${path!""}<input name="path" type="hidden" value="${path!""}" /></td>
	</tr>
	<tr>
		<th>内容</th>
		<td><textarea name="content" class="easyui-textbox" data-options="multiline:true,width:600,height:380">${content!""}</textarea></td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">保存</a>
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true">返回</a>
		</td>
	</tr>
</table>
</form>
<script type="text/javascript">
$(function () {
	var $submitForm = $('#submitForm');
	$submitForm.form({
		success : function (data) {
			data = Web_parseJSON(data);
			if(data.status) {
				Web_alertInfo(data.message);
			} else {
				Web_redirectPage(data.message);
			}
		}
	});
	$('#buttonOk').bind('click', function () {
		if($submitForm.form('validate')) $submitForm.form('submit');
	});
});
</script>