[#include "../public/header.inc.htm"]
<div class="main-container">
	<ol class="breadcrumb crumb-navigate">
		<li class="glyphicon glyphicon-home"><a class="margin-left5" href="${_webUrl_}">主页</a></li>
		[#list columnParentList![] as item]
		<li><a href="${item.url!""}">${item.name!""}</a></li>
		[/#list]
		<li class="active">正文</li>
	</ol>
	<div class="article-container">
		<div class="article-container-left">
			<div class="panel panel-default margin-bottom0">
				<div class="panel-body">
					<article class="article-panel">
						<header class="article-header">
							<h1>${info.title!""}</h1>
							<time pubdate datetime="${millisToDateTime(info.publish_time)}">${millisToDateTime(info.publish_time)}</time>
							[#if !empty(info.from_name)]
							<span class="margin-left5">来源：[#if empty(info.from_url)]${info.from_name!""}[#else]<a target="_blank" href="${info.from_url!""}">${info.from_name!""}</a>[/#if]</span>
							[/#if]
						</header>
						<div class="article-content">${info.content!""}</div>
					</article>
				</div>
			</div>
		</div>
		<div class="article-container-right">
			<ul class="list-group">
				<li class="list-group-item disabled">推荐文章</li>
				[#list recommendList![] as item]
				<li class="list-group-item text-ellipsis"><a target="_blank" href="${item.web_url!""}" title="${item.title!""}">${item.title!""}</a></li>
				[/#list]
			</ul>
		</div>
	</div>
</div>
[#include "../public/footer.inc.htm"]